################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/testVSProject/.vs/testVSProject/v15/ipch/AutoPCH/TESTVSPROJECT-30276091/HELLOWORLD-b83c0544/HELLOWORLD.ipch
